body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: none;
}

main {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

#mainCanvas {
  width: 100%;
  height: 100%;
}

game-menu {
  display: none;
  height: 100%;
}

game-top-bar {
  display: none;
}

.swal2-confirm {
  background-color: #0075b6 !important;
  border-radius: 0 !important;
}

.swal2-popup {
  background-color: rgba(200, 200, 200, 0.9) !important;
  border-radius: 0 !important;
}

analog-control#left {
  display: none;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 100000;
}

analog-control#right {
  display: none;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 100000;
}

.swal2-actions {
  margin: 0 !important;
}

.swal2-styled.swal2-confirm {
  font-size: 14px;
}
